In [10]:
import pandas as pd

### Importing raw data for EDA

In [11]:
new= pd.read_csv('https://raw.githubusercontent.com/TechCoachRepo/EndtoEndSalesProject/refs/heads/master/One%20Time%20Load/Fact%20Orders/factorders.csv')

### Data Exploration

In [12]:
new.head(10)

,DateID,ProductID,StoreID,CustomerID,QuantityOrderded,OrderAmount,DiscountAmount,Shipping Cost,TotalAmount
0,20170217,142,90,538,12,936,75.187017,124.778228,736.034754
1,20221217,459,93,455,10,361,41.081798,30.328877,289.589325
2,20190304,259,28,762,19,243,16.644920,14.478930,211.876150
3,20231128,990,24,207,12,903,122.952724,90.266393,689.780882
4,20181017,752,38,432,5,322,29.692149,33.106987,259.200864
5,20231202,845,3,939,11,186,13.631864,14.479222,157.888915
6,20140413,626,10,366,11,444,57.437415,60.162288,326.400297
7,20181230,637,53,989,10,811,72.774492,107.982441,630.243067
8,20141224,208,79,224,14,210,16.356510,10.513788,183.129702
9,20220602,724,20,609,4,395,54.579813,47.646267,292.773920

In [13]:
new.tail(10)

,DateID,ProductID,StoreID,CustomerID,QuantityOrderded,OrderAmount,DiscountAmount,Shipping Cost,TotalAmount
999990,20180202,883,10,567,18,579,29.676620,79.718555,469.604825
999991,20151106,636,50,909,7,447,47.521640,32.711324,366.767035
999992,20220215,423,96,347,17,860,103.061060,75.855653,681.083287
999993,20140322,329,95,405,9,604,53.880143,38.263742,511.856115
999994,20200828,599,91,288,1,270,37.480477,38.364866,194.154657
999995,20141112,865,90,96,19,901,36.647749,131.946468,732.405783
999996,20181223,202,6,689,16,257,10.991885,24.888605,221.119510
999997,20190916,330,48,139,1,917,55.838789,117.529957,743.631254
999998,20180602,653,56,196,15,530,69.670153,39.998923,420.330924
999999,20240615,850,86,623,5,795,57.135314,61.772749,676.091937

In [17]:
new.shape

(1000000, 9)

In [5]:
new.describe()

,DateID,ProductID,StoreID,CustomerID,QuantityOrderded,OrderAmount,DiscountAmount,Shipping Cost,TotalAmount
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,2.018861e+07,500.600265,50.442834,500.512225,10.492662,549.737436,46.706510,54.984709,448.046217
std,3.053775e+04,288.697242,28.855470,288.797436,5.765948,260.141970,31.778225,31.396642,213.947434
min,2.014010e+07,1.000000,1.000000,1.000000,1.000000,100.000000,2.005347,5.005855,70.039893
25%,2.016082e+07,250.000000,25.000000,250.000000,5.000000,324.000000,20.946680,29.533251,263.257244
50%,2.019041e+07,501.000000,50.000000,501.000000,10.000000,550.000000,38.892828,50.032438,446.619046
75%,2.021120e+07,751.000000,75.000000,751.000000,15.000000,775.000000,66.611055,75.722681,629.597304
max,2.024073e+07,1000.000000,100.000000,1000.000000,20.000000,1000.000000,149.834396,149.987632,925.826388

In [9]:
new.dtypes

DateID                int64
ProductID             int64
StoreID               int64
CustomerID            int64
QuantityOrderded      int64
OrderAmount           int64
DiscountAmount      float64
Shipping Cost       float64
TotalAmount         float64
dtype: object

### Data Transformations

In [11]:
new.head(10).isnull()

,DateID,ProductID,StoreID,CustomerID,QuantityOrderded,OrderAmount,DiscountAmount,Shipping Cost,TotalAmount
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False

In [15]:
new.head(10).isnull().sum()

DateID              0
ProductID           0
StoreID             0
CustomerID          0
QuantityOrderded    0
OrderAmount         0
DiscountAmount      0
Shipping Cost       0
TotalAmount         0
dtype: int64

In [12]:
new.fillna(0)

,DateID,ProductID,StoreID,CustomerID,QuantityOrderded,OrderAmount,DiscountAmount,Shipping Cost,TotalAmount
0,20170217,142,90,538,12,936,75.187017,124.778228,736.034754
1,20221217,459,93,455,10,361,41.081798,30.328877,289.589325
2,20190304,259,28,762,19,243,16.644920,14.478930,211.876150
3,20231128,990,24,207,12,903,122.952724,90.266393,689.780882
4,20181017,752,38,432,5,322,29.692149,33.106987,259.200864
...,...,...,...,...,...,...,...,...,...
999995,20141112,865,90,96,19,901,36.647749,131.946468,732.405783
999996,20181223,202,6,689,16,257,10.991885,24.888605,221.119510
999997,20190916,330,48,139,1,917,55.838789,117.529957,743.631254
999998,20180602,653,56,196,15,530,69.670153,39.998923,420.330924
999999,20240615,850,86,623,5,795,57.135314,61.772749,676.091937

### Exporting transformed data

In [14]:
data= new.head(100)

In [15]:
data.to_csv('Factdata.csv', index=False)

### connecting with snowflake for Data Ingestion